/* INITIALISATION DU STYLE */
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Helvetica";
}

:root {
  --font-s: 18px;
  --font-m: 24px;
  --font-l: 32px;
}

h2,
h1 {
  font-size: var(--font-l);
  font-weight: bold;
}
p {
  font-size: var(--font-s);
}
/* INITIALISATION DU STYLE */

/* HEADER ET ANIMATION FLEUR */
header {
  padding: 30px 25px;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:last-of-type {
      margin-top: 30px;
    }
  }
  & h1 {
    font-size: var(--font-l);
  }
  & h2 {
    text-align: end;
  }
  & svg {
    animation: rotateFlower linear 5s infinite;
  }
  & svg path {
    animation: colorFlower ease-in-out 5s infinite alternate;
  }
}

/* ANIMATION DE LA FLEUR */
@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes colorFlower {
  from {
    fill: oklch(100% 0.37 0);
  }
  50% {
    fill: oklch(100% 0.37 145);
  }
  to {
    fill: oklch(100% 0.37 360);
  }
}
/* FIN ANIMATION DE LA FLEUR */
/* FIN HEADER ET ANIMATION FLEUR */

/* BOUTON PWA */
#pwaInstall {
  transition: 0.2s;
  background: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  padding: 10px;
  border: none;
  &::after {
    content: "add to home";
  }
  &.scroll {
    position: fixed;
    left: 10px;
    top: 10px;
    opacity: 0.5;
    transition: 0.2s;
    &::after {
      display: none;
    }
  }
}
/* FIN BOUTON PWA */

.hero-color {
  height: 60vh;
  width: 100%;
  display: flex;
  & .red {
    background: linear-gradient(185deg, oklch(85% 0.37 40 / 1) 0%, oklch(85% 0.37 40 / 0) 100%);
  }
  & .blue {
    background: linear-gradient(185deg, oklch(50% 0.37 265 / 1) 0%, oklch(50% 0.37 265 / 0) 100%);
  }
  & .green {
    background: linear-gradient(185deg, oklch(100% 0.35 145 / 1) 0%, oklch(100% 0.35 145 / 0) 100%);
  }
  & div {
    width: 100%;
    height: 100%;
  }
}


.redirections {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-inline: 25px;
  height: 15vh;
}

/* STYLE DES BUTTONS ET A */
.btn {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  height: fit-content;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
  font-size: var(--font-s);
  border: none;
}
button.btn {
  width: fit-content;
}
/* FIN STYLE DES BUTTONS ET A */

/* COLOR PICKER SECTION */
#color-picker {
  padding-inline: 25px;
  margin-top: 50px;
  min-height: 100lvh;
  & h2 {
    margin-bottom: 20px;
  }
  & > p {
    text-align: center;
    margin-bottom: 5px;
  }
}
color-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-result {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 43px 15px rgba(0, 0, 0, 0.1);
}
/* COLOR INPUT */
.color-input {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-block: 25px;
  & input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: var(--font-s);
    height: fit-content;
  }
}
.color-copy {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 100%;
  height: 100%;
  padding-inline: 20px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: 0.2s;
}
/* FIN COLOR INPUT */
/* COLOR RANGES */
.color-ranges {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 10px;
  & label {
    font-weight: bold;
    font-size: var(--font-s);
  }
  & input {
    margin-top: 5px;
    appearance: none;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  }
  & input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 50px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  }
  & input.lightness {
    background: linear-gradient(90deg, oklch(0% 0.37 265) 0%, oklch(100% 0.37 265) 100%);
  }
  & input.chroma {
    background: linear-gradient(90deg, oklch(50% 0 265) 0%, oklch(50% 0.37 265) 100%);
  }
  & input.hue {
    background: linear-gradient(90deg, oklch(50% 0.37 0) 0%, oklch(50% 0.37 36) 10%, oklch(50% 0.37 72) 20%, oklch(50% 0.37 108) 30%, oklch(50% 0.37 144) 40%, oklch(50% 0.37 180) 50%, oklch(50% 0.37 216) 60%, oklch(50% 0.37 252) 70%, oklch(50% 0.37 288) 80%, oklch(50% 0.37 324) 90%, oklch(50% 0.37 360) 100%);
  }
  & input.alpha {
    background: linear-gradient(90deg, oklch(50% 0.37 265 / 0) 0%, oklch(50% 0.37 265 / 1) 100%);
  }
}
/* FIN COLOR RANGES */
/* FIN COLOR PICKER SECTION */

/* OKLCH EXPLICATIONS */
#oklch-explication {
  padding: 50px 25px;
}
/* FIN OKLCH EXPLICATIONS */

/* FOOTER */
footer {
  width: 100%;
  padding: 50px 25px;
  background-color: black;
  color: white;
  text-align: center;
  & a {
    color: white;
  }
}
/* FIN FOOTER */
